.searchbox {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;

}


.textbox {

    width: 100%;
    height: 40px;
    border-radius: 35px;
    background-color: rgb(58, 58, 58);
    padding-left: 30px;
    font-size: medium;
    border: none;
    caret-color: wheat;

    color: white;
}



.textbox::placeholder {

    color: rgb(124, 121, 121);

    font-size: medium;


}


@media screen and (max-width: 600px) 
{ 


.searchbox{
display: flex;
justify-content: center;

}

.textbox::placeholder{

font-size: small;

}

}